form{
    background-color: antiquewhite;
    width: 50%;
    margin: auto;
    padding: 30px;
    box-shadow: 4px 8px 60px rosybrown;
    border-radius: 70px;
}
legend{
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    color: rosybrown;
    text-shadow: 4px 8px 20px black;
}
input[type=text],input[type=email],input[type=password],input[type=number],input[type=file],input[type=date],select,textarea{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rosybrown;
    padding-left: 20px;
}
button{
    background-color: rosybrown;
    box-shadow: 4px 4px 4px antiquewhite;
    width: 150px;
    height: 40px;
    border-radius: 30px;
}
